/*
global-styles
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", "sans-serif";
  font-size: 1.125rem;
  color: hsl(227, 10%, 46%);
  background-color: hsl(185, 75%, 39%);
}

hr {
  border-top: 1px solid #f2f0f0;
}

/*
typography
*/

h3 {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.regular-text {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.sub-heading-text {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

/* 
====
layout 
====*/

.container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.rounded-img {
  border-radius: 50%;
  border: 5px solid white;
}

.top-bg-pattern {
  top: -750px;
  left: -650px;
  position: absolute;
  z-index: -1;
  transform: scale(0.8);
}

.bottom-bg-pattern {
  bottom: -700px;
  right: -600px;
  position: absolute;
  z-index: -1;
  transform: scale(0.7);
}

.card-bg {
  background-color: white;
  width: 360px;
  margin: 15em auto;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 10px 80px hsl(229, 23%, 23%, 0.4);
  z-index: 1;
}

.profile-bg-pattern {
  position: absolute;
  z-index: 2;
  border-radius: 16px 16px 0px 0px;
  margin: 0 auto;
  min-width: 360px;
}

.profile-bg {
  margin: 0 auto;
  position: relative;
  z-index: 3;
  padding-top: 5em;
}

.profile-user-info {
  padding-top: 1.5em;
  flex-direction: column;
  align-items: center;
}

.profile-user-info p {
  padding-top: 0.9em;
  padding-bottom: 1.5em;
  font-size: 0.9rem;
}

.profile-stats {
  padding: 1.5em 0;
  list-style: none;
  text-align: center;
}

.profile-stats-desc {
  padding: 0.5em;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
}

.profile-stats-title + .profile-stats-title {
  margin-left: 3em;
}

@media (min-width: 1440px) {
  .top-bg-pattern {
    top: -800px;
    left: -200px;
    transform: scale(1.1);
  }

  .bottom-bg-pattern {
    bottom: -800px;
    right: -380px;
    transform: scale(1.3);
  }
}
